<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveData</servlet-name>
        <servlet-class>controller.RetrieveData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetrieveData</servlet-name>
        <url-pattern>/RetrieveData.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rnumberServlet</servlet-name>
        <servlet-class>controller.rnumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>controller.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificationServlet</servlet-name>
        <servlet-class>controller.verificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>captchaServlet</servlet-name>
        <servlet-class>controller.captchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>controller.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCaptcha</servlet-name>
        <servlet-class>controller.CheckCaptcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicket</servlet-name>
        <servlet-class>controller.BookTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookTicket</servlet-name>
        <url-pattern>/BookTicket.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rnumberServlet</servlet-name>
        <url-pattern>/rnumberServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/SendEmailServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificationServlet</servlet-name>
        <url-pattern>/verificationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>captchaServlet</servlet-name>
        <url-pattern>/captchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCaptcha</servlet-name>
        <url-pattern>/CheckCaptcha.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReserveTicket</servlet-name>
        <servlet-class>controller.ReserveTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReserveTicket</servlet-name>
        <url-pattern>/ReserveTicket.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
